@import "../../styles";

.container {
  padding: 0.5rem;
  background-color: rgba($color: $success, $alpha: 0.1);
  @include flex-inline(row, center, flex-start, 0.3rem);
  border-radius: 0.5rem;
  color: $success;
  @include font(1rem);

  &.danger {
    background-color: rgba($color: $danger, $alpha: 0.1);
    color: $danger;
  }

  & > * {
    @include center();
    line-height: 1;
  }
}
