@import "../../../styles";

.container {
  padding: 5rem 5rem 2rem;
  @include flex(row, stretch, space-between, 2rem);
  @include mobile {
    padding: 5rem 2rem 2rem;
  }

  & > .left {
    @include flex(column, stretch, space-between, 2rem);
  }
  & > .right {
    flex: 1;
    overflow: hidden;
  }
}

:global(.opened) .container {
  @include query(800px) {
    flex-direction: column;

    & > .left {
      @include flex(row, center, center, 2rem);
    }
  }
}

:global(.closed) .container {
  @include query(600px) {
    flex-direction: column;

    & > .left {
      @include flex(row, center, center, 2rem);
    }
  }
}

.box {
  background-color: $white;
  padding: 2rem;
  border-radius: 1rem;
  @include font(1.6rem, 500);
  width: 15rem;
  position: relative;

  flex: 1;

  & > .avatar {
    margin-bottom: 1.5rem;
  }

  & > h6 {
    @include font(1rem, 400, 1);
    color: rgba($color: $dark, $alpha: 0.7);
    margin-bottom: 0.2rem;
  }

  & > span.value {
    @include font(2rem, 700);
    color: rgba($color: $dark, $alpha: 1);
    margin-bottom: 0.2rem;
    display: block;
  }

  & > button {
    @include position(absolute, 1rem, unset, 1rem);
    z-index: 1;
    @include font(1.4rem, 400, 1);
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
  }
}

.table {
  background-color: $white;
  padding: 2rem;
  border-radius: 1rem;

  & > .top {
    @include flex();

    & > .left {
      @include flex(row, center, flex-start, 1rem);

      & > div {
        & > h6 {
          @include font(1rem, 500, 1);
          color: rgba($color: $dark, $alpha: 0.7);
          margin-bottom: 0.5rem;
        }

        & > div {
          @include flex(row, center, flex-start, 0.5rem);
          & > span {
            @include font(2rem, 700, 1);
            color: rgba($color: $dark, $alpha: 1);
          }
        }
      }
    }
    & > button {
      background-color: transparent;
      outline: none;
      border: none;
      @include center();
      line-height: 1;
      @include font(1.6rem);
    }
  }

  .tWrapper {
    overflow: auto;
    width: 100%;
    padding-top: 1rem;
    & > table {
      width: 100%;
      border-collapse: collapse;
      border-spacing: none;
      & > thead {
        & > tr > th {
          width: var(--w);
        }
      }

      & > tbody {
        & > tr > td {
          border-bottom: 1px solid $bg-color;
          padding: 0rem 1rem 0.3rem;

          &.sr {
            @include font(1.2rem, 500, 1);
            color: rgba($color: $dark, $alpha: 0.5);
          }
          &.img {
            & > div {
              @include flex(row, center, flex-start, 1rem);
              & > img {
                width: 3rem;
                aspect-ratio: 1/1;
                object-fit: cover;
              }

              & > div {
                @include flex(column, flex-start, flex-start, 0rem);
                color: rgba($color: $dark, $alpha: 0.7);

                & > span:nth-child(1) {
                  @include font(1.2rem, 700);
                  color: rgba($color: $dark, $alpha: 1);
                }
              }
            }
          }
          &.value {
            @include font(1.2rem, 700);
            color: rgba($color: $dark, $alpha: 0.7);
          }

          &.chart {
            & > div {
              margin-left: auto;
            }
          }
        }
      }
    }
  }
}
